{% extends "base.html" %}

{% load simple_comment_tags %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>Published {{ article.pub_date|timesince }} ago.</p>

    {% comment_configuration for "articles" article as "configuration" %}

    {% comment_list for "articles" article as "comment_list" %}
    <h2>Comments</h2>
    {% for comment in comment_list %}
    <div class="comment">
        <div class="body">{{ comment.body|linebreaks }}</div>
        <p>Posted by {{ comment.author_name }}, {{ comment.pub_date|timesince }} ago.</p>
    </div>
    {% empty %}
        <p>No comments.</p>
    {% endfor %}

    <h2>Post a Comment</h2>
    {% if configuration|allow_comments:article and configuration|allow_post_for_user:user %}
    <form action="{% url simple-comments-create-comment configuration.configuration_key article.pk %}" method="post" accept-charset="utf-8">
        {% comment_form for "articles" article as "comment_form" %}
        {% comment_spam_forms for "articles" article as "spam_forms" %}
        {{ comment_form.as_p }}
        {% for spam_form in spam_forms %}
        {{ spam_forms.as_p }}
        {% endfor %}
        <p><input type="submit" value="Preview Comment"></p>
    </form>
    {% endif %}
{% endblock %}
